@import url('https://fonts.googleapis.com/css?family=Montserrat'); /* font-family: 'Montserrat', sans-serif;   (More formal Raleway)  */

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#top-section {
  width: 100%;
  height: 100vh;
  color: #f9f9f9;
}

.navbar {
  background-color: #282828;
}

.navbar button {
  position: absolute;
  right: 20px;
  top: 10px;
  display: none;
}

.navbar img {
  width: 93px;
  height: 54px;
  vertical-align: bottom;
}

.navbar span {
  font-size: 32px;
  cursor: default;
  width: 45%;
}

.navbar img::selection, .navbar span::selection {
  background-color: rgba(255, 255, 255, 0);
}

br.hidden {
  display: none;
}

#blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../img/Cover-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#filter {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(183, 15, 15, 0.3);
}

.relative {
  position: relative;
}

.content {
  padding: 2.5% 0%;
}

.nav {
  text-align: right;
  justify-content: flex-end;
  width: 55%;
}

.nav li {
  margin: 0px 15px;
}

li a {
  color: #f9f9f9;
  font-size: 1.25rem;
  transition: 0.2s;
}

li a.active {
  color: #ffd263;
}

li a.active:hover {
  color: #ffd263;
}

li a:hover {
  text-decoration: none;
  color: #ffd263;
}

.motto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 550px;
  transition: 0.2s;
} /* Add breaking point for width at 646px */
@media(max-width:645px){
  .motto{
    width:500px;
  }
  .motto h3 {
    font-size: 1.5em;
  }
}
@media(max-width:525px){
  .motto{
    width:400px;
  }
  .motto h3{
    font-size:1.25em;
  }
}

.motto .color {
  font-size: 150%;
}

.motto .red .color {
  color: #FF0000;
}

.motto .gold .color {
  color: #ffd263;
}


.motto .gold {
  text-align: right;
}

.nav2 {
  display: none;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.nav2 li {
  margin: 0;
  padding: 5px 0px;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}

.nav2 li:hover {
  background-color: #191919;
  curosr
}

/* Media query for nav button and navigation change */
@media(max-width:446px){
  br.hidden {
    display: block;
  }
  .navbar button{
    display: block;
  }
  .navbar span {
    margin: auto;
  }
  .nav {
    display: none !important;
  }
  li a {
    font-size: 1.5rem !important;
  }
}

@media(max-width:992px) {
  .nav {
    width: 45%;
  }
}

@media(max-width:968px) {
  .nav {
    width: 40%;
  }

  .nav li {
    margin: 0px 7.5px;
  }
}

@media(max-width: 925px) {

  .navbar {
    text-align: center;
    display: block;
  }

  .navbar span, .nav {
    width: 100%;
  }

  .nav {
    display: inline-flex;
    width: auto;
    margin: 0 auto;
  }

}

@media(max-width:864px) {
  li a {
    font-size: 1rem;
  }
}
